<div class="mb-2">
  <%= comments.count %>件コメント
</div>
<% if comments.count > 2 %>
  <h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
<% end %>
<% comments.first(2).each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="container">
      <div class="row border mb-2">
        <%# <p><%= link_to "@#{comment.user.nickname}", users_user_path(comment.user.id) %>
        <div class="my-2">
          <p><%= comment.user.nickname %></p>
        </div>
        <div class="ml-2">
          <%= comment.content %>
        </div>
          <% if comment.user == current_user %>
            <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
              <div class="text-right mb-2">
                <i class="fas fa-trash" style="color: black;"></i>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<div class="collapse" id="collapseExample">
  <% comments.offset(2).each do |comment| %>
    <% unless comment.id.nil? %>
      <div class="container">
        <div class="row border mb-2">
          <%# <p><%= link_to "@#{comment.user.nickname}", users_user_path(comment.user.id) %>
          <div class="my-2">
            <p><%= comment.user.nickname %></p>
          </div>
          <div class="ml-2">
            <%= comment.content %>
          </div>
          <% if comment.user == current_user %>
            <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
              <div class="text-right mb-2">
                <i class="fas fa-trash" style="color: black;"></i>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
