<div class="row my-5 ml-3">
  <% @room_users.each do |r| %>
    <% if r.user.nickname == current_user.nickname %>
      <%= r.user.nickname %>
    <% else %>
      <%= r.user.nickname + "さん" %>
    <% end %>
  <% end %>
</div>
<div class="row mx-3">
  <% if @messages.present? %>
    <% @messages.each do |m| %>
      <% if m.user.nickname == current_user.nickname %>
        <p class="text-right h5">
          <strong><%= m.message %></strong>
        </p>
        <p class="text-right mb-5 text-muted ">
          <small><%= "by " + m.user.nickname %></small>
        </p>
      <% else %>
        <p class="h5"><strong><%= m.message %></p></strong>
        <p class="mb-3 text-muted">
          <small><%= "by " + m.user.nickname %></small>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>