<div class="container">
  <div class="row row-2">
    <% if @search_posts %>
      <% @search_posts.each do |post| %>
        <div class="col-sm-12 col-md-3 mt-5 border">
          <div class="mt-3">
            <% if post.user.image.attached? %>
              <%= image_tag post.user.image.variant(resize:'250x200'), class:'rounded mx-auto d-block' %>
            <% else %>
              <%= image_tag 'noimage.jpg', size: '294x188', class:'rounded mx-auto d-block' %>
            <% end %>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <%= link_to "詳細", post_path(post.id), class:"btn btn-primary mb-2" %>
              <li class="list-group-item"><i class="fas fa-user"></i>&thinsp;&thinsp;&emsp;<%= post.user.nickname %>&thinsp;(<%= post.user.sex_id %>)&thinsp;<%= post.user.sex_id %></li>
              <li class="list-group-item"><i class="fas fa-gamepad"></i>&emsp;<%= post.game_title %></li>
              <li class="list-group-item"><i class="far fa-clock"></i>&thinsp;&emsp;<%= post.time_zone %></li>
              <li class="list-group-item"><i class="fas fa-phone-volume"></i>&thinsp;&thinsp;&thinsp;&emsp;<%= post.call %></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <div class="col-sm-12 col-md-3 mt-5 border">
          <div class="mt-3">
            <% if post.user.image.attached? %>
              <%= image_tag post.user.image.variant(resize:'250x200'), class:'rounded mx-auto d-block' %>
            <% else %>
              <%= image_tag 'noimage.jpg', size: '294x188', class:'rounded mx-auto d-block' %>
            <% end %>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <%= link_to "詳細", post_path(post.id), class:"btn btn-primary mb-2" %>
              <li class="list-group-item"><i class="fas fa-user"></i>&thinsp;&thinsp;&emsp;<%= post.user.nickname %>&thinsp;(<%= post.user.sex_id %>)&thinsp;<%= post.user.sex_id %></li>
              <li class="list-group-item"><i class="fas fa-gamepad"></i>&emsp;<%= post.game_title %></li>
              <li class="list-group-item"><i class="far fa-clock"></i>&thinsp;&emsp;<%= post.time_zone %></li>
              <li class="list-group-item"><i class="fas fa-phone-volume"></i>&thinsp;&thinsp;&thinsp;&emsp;<%= post.call %></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>