<div class="container">
  <div class="row">
    <% if @search_posts %>
      <% @search_posts.each do |post| %>
        <div class="col-sm-12 col-md-3 mx-auto mt-5">
          <div class="card">
            <% if post.user.image.attached? %>
              <%= image_tag post.user.image.variant(resize:'350x213'), class:"img-fluid" %>
            <% else %>
              <%= image_tag 'noimage.jpg', class:"img-fluid thumbnail" %>
            <% end %>
            <ul class="list-group list-group-flush">
              <%= link_to "詳細", post_path(post.id), class:"btn btn-primary mb-2" %>
              <li class="list-group-item"><i class="fas fa-user"></i>&thinsp;&thinsp;&emsp;<%= link_to post.user.nickname, user_path(post.user_id), class:"text-decoration-none" %>&thinsp;(<%= post.user.age.name %>)&thinsp;<%= post.user.sex.name %></li>
              <li class="list-group-item"><i class="fas fa-gamepad"></i>&emsp;<%= post.game_title %></li>
              <li class="list-group-item"><i class="far fa-clock"></i>&thinsp;&emsp;<%= post.time_zone %></li>
              <li class="list-group-item"><i class="fas fa-phone-volume"></i>&thinsp;&thinsp;&thinsp;&emsp;<%= post.call %></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% else %>
      <% @posts.each do |post| %>
        <div class="col-sm-12 col-md-3 mx-auto mt-5">
          <div class="card">
            <% if post.user.image.attached? %>
              <%= image_tag post.user.image.variant(resize:'250x200') %>
            <% else %>
              <%= image_tag 'noimage.jpg', size: '294x188' %>
            <% end %>
            <ul class="list-group list-group-flush">
              <%= link_to "詳細", post_path(post.id), class:"btn btn-primary mb-2" %>
              <li class="list-group-item"><i class="fas fa-user"></i>&thinsp;&thinsp;&emsp;<%= post.user.nickname %>&thinsp;(<%= post.user.sex_id %>)&thinsp;<%= post.user.sex_id %></li>
              <li class="list-group-item"><i class="fas fa-gamepad"></i>&emsp;<%= post.game_title %></li>
              <li class="list-group-item"><i class="far fa-clock"></i>&thinsp;&emsp;<%= post.time_zone %></li>
              <li class="list-group-item"><i class="fas fa-phone-volume"></i>&thinsp;&thinsp;&thinsp;&emsp;<%= post.call %></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>