<div class="container">
  <div class="row">
    <% posts.each do |post| %>
      <div class="col-xs-9 col-sm-5 col-md-3 m-3 shadow p-3 mb-5 bg-white rounded">
        <div class="card m-2">
          <%= image_tag post.user.image.variant(resize:'250x200') %>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-user"></i>&thinsp;&thinsp;&emsp;<%= post.user.nickname %></li>
            <li class="list-group-item"><i class="fas fa-gamepad"></i>&emsp;<%= post.game_title %></li>
            <li class="list-group-item"><i class="far fa-clock"></i>&thinsp;&emsp;<%= post.time_zone %></li>
            <li class="list-group-item"><i class="fas fa-phone-volume"></i>&thinsp;&thinsp;&thinsp;&emsp;<%= post.call %></li>
            <li class="list-group-item">&emsp;<%= post.text %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>