<div class="container">
  <div class="row">
    <% @search_posts.each do |post| %>
      <div class="col-sm-6 col-md-3 box my-2">
        <div class="card">
          <% if post.user.image.attached? %>
            <%= image_tag post.user.image, class:"img-fluid" %>
          <% else %>
            <%= image_tag 'noimage.jpg', class:"img-fluid" %>
          <% end %>
          <ul class="list-group list-group-flush">
            <%= link_to "詳細", post_path(post.id), class:"btn btn-primary mb-2" %>
            <li class="list-group-item"><i class="fas fa-user"></i>&thinsp;&thinsp;&emsp;<%= link_to post.user.nickname, user_path(post.user_id), class:"text-decoration-none" %>&thinsp;(<%= post.user.age.name %>)&thinsp;<%= post.user.sex.name %></li>
            <li class="list-group-item"><i class="fas fa-gamepad"></i>&emsp;<%= post.game_title %>(<%= post.platform %>)</li>
            <li class="list-group-item"><i class="far fa-clock"></i>&thinsp;&emsp;<%= post.time_zone %></li>
            <li class="list-group-item"><i class="fas fa-phone-volume"></i>&thinsp;&thinsp;&thinsp;&emsp;<%= post.call %></li>
            <li class="list-group-item", id="likes_buttons_<%= post.id %>">
              <%= render partial: 'likes/like', locals: { post: post, likes: @likes} %>
            </li>
            <div id = "post-destroy">
              <% if user_signed_in? %>
                <% if post.user_id == current_user.id %>
                  <%= link_to post_path(post), method: :delete, remote: true do %>
                    <li class="list-group-item fas fa-trash" style="color: black;"></li>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>