<%= form_with(model: @post, local: true) do |form| %>
  <div class = "form">
    <h2>声を掛けてもらうために投稿しよう！</h2>
    <%= form.select :platform, [ ["PC","PC"], ["PS4", "PS4"], ["XBOX", "XBOX"] ,["3DS", "3DS"], ["スマホ", "スマホ"], ["その他", "その他"] ], {prompt: "プラットフォームを選択してください"}, {class: "form-area"} %>
    <%= form.select :time_zoon, [ ["17時","17時"], ["18時", "18時"], ["19時", "19時"] ,["20時", "20時"], ["21時", "21時"], ["22時", "22時"], ["23時以降", "23時以降"] ], {prompt: "時間帯を選択してください"}, {class: "form-area"} %>
    <%= form.select :call, [ ["Discode","Discode"], ["LINE", "LINE"], ["Skype", "Skype"] ,["ゲーム内VC", "ゲーム内VC"], ["TS3", "TS3"], ["その他", "その他"] ], {prompt: "通話方法を選択してください"}, {class: "form-area"} %>
    <%= form.text_field :game_title, placeholder:"フレンドを探したいゲーム名", class:"form-area" %>
    <%= form.text_area :text, placeholder:"お好きにコメントしてください！", class:"form-area" %>
    <%= form.submit "投稿", class:"form-submit" %>
  </div>
<% end %>