<div class="container">
  <div class="row mx-auto">
      <div class="col-xs-9 col-sm-5 col-md-3 mt-5 mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
        <div class="card m-1">
          <% if @post.user.image.attached? %>
            <%= image_tag @post.user.image.variant(resize:'250x200') %>
          <% else %>
            <%= image_tag 'noimage.jpg', size: '286x188' %>
          <% end %>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% unless @post.user.id == current_user.id %>
              <% if @isroom == true %>
                <%= link_to "#{@post.user.nickname}さんとDMする", room_path(@roomid),class: "btn btn-primary mb-2" %>
              <% else %>
                <%= form_with model: @room, local: true, class:"text-center mb-2" do |form| %>
                  <%= fields_for @roomuser do |r| %>
                    <%= r.hidden_field :user_id, value: @post.user.id %>
                  <% end %>
                  <%= form.submit "#{@post.user.nickname}さんとDMする", class: "btn btn-primary" %>
                <% end %>
              <% end %>
            <% end %>
            <li class="list-group-item"><i class="fas fa-user"></i>&thinsp;&thinsp;&emsp;<%= @post.user.nickname %>&thinsp;(<%= @post.user.age.name %>)&thinsp;<%= @post.user.sex.name %></li>
            <li class="list-group-item"><i class="fas fa-gamepad"></i>&emsp;<%= @post.game_title %>(<%= @post.platform %>)</li>
            <li class="list-group-item"><i class="far fa-clock"></i>&thinsp;&emsp;<%= @post.time_zone %></li>
            <li class="list-group-item"><i class="fas fa-phone-volume"></i>&thinsp;&thinsp;&thinsp;&emsp;<%= @post.call %></li>
            <li class="list-group-item">&emsp;<%= @post.text %></li>
            <li class="list-group-item", id="likes_buttons_<%= @post.id %>">
              <%= render partial: 'likes/like', locals: { post: @post, likes: @likes} %>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div class="row">
    <ul>
        <li class="comment-create">
            <h3 class="text-left title">コメント</h3>
        </li>
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
      <div class="comment-create">
        <h3 class="text-left">コメントを投稿する</h3>
        <%= render partial: 'comments/form', locals: { comment: @comment, item: @item } %>
      </div>
    <% end %>
  </div>
</div>

