<!DOCTYPE html>
<html>
  <head>
    <title>Gamerfriends</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/432076985f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class = "header-left">
        <h1 class = "header-logo">Gamer friends</h1>
      </div>
      <div class = header-right>
        <div class = "navbar">
          <ul class = "nav-lists">
            <%= link_to "#", class: "friend" do %>
              <i class="fas fa-sign-in-alt"></i> フレンド一覧
            <% end %>
            <% unless user_signed_in? %>
              <%= link_to new_user_session_path, class: "user" do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
              <%= link_to new_user_registration_path, class: "user" do %>
                <i class="fas fa-sign-in-alt"></i> 新規登録
              <% end %>
            <% else %>
              <%= link_to "#", class: "friend" do %>
                <i class="fas fa-address-card"></i> フレンド募集
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete, class: "user" do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
